AddDefaultCharset utf-8
php_value display_errors 1
#php_value error_reporting E_COMPILE_ERROR|E_ERROR|E_CORE_ERROR
#php_value track_errors 1

php_value xcache.cacher Off
php_value xcache.stat Off
php_value xcache.optimizer Off

AddType application/x-httpd-php .html .htm